body{
    background-color: #a21b33;
}
h1{
    color: plum; 
    text-align: center;
}

h1:hover{
    color: royalblue;
}

.main-contener{
    text-align: center; 
}
.text-contener{
text-align: left; color: azure;
}
.red-text{
    color: rgb(240, 33, 33) !important; 
}

.white-text{
    color: cornsilk;
}
#text{
    color: rgb(27, 236, 184);
}